.sheet-main {
  display: grid;
  grid-gap: 4px;
  grid-template-columns: 350px 150px 150px;
  grid-template-rows: 150px 300px 280px 280px 20px;
  grid-template-areas:"header     xps       xps"
                      "common     common    common"
                      "attribs    talents   weapons"
                      "inv        magic     magic"
                      "footer     footer    footer";
}

/*----------------- GENERAL CSS ------------------*/

input[type=number]{
  size: 50px;
}

input[type=text] {
  size: 50px;
}

.sheet-section {
    padding: 5px;
    border-style: solid;
}

.sheet-flex-col {
  display: flex;
  flex-flow: wrap;
  justify-content: flex-start;
}

.sheet-flex-center {
  align-items: center;
  justify-content: center;
}

/*------------- Section-specific CSS -------------*/

.sheet-header {
  grid-area: header;
  background-color: white;
  flex-direction: column;
  justify-self: start;
}

.sheet-xps {
  grid-area: xps;
  background: white;
}

.sheet-common {
  grid-area: common;
  background-color: antiquewhite;
  font-size: 8pt;
}

.sheet-attributes {
  grid-area: attribs;
  background-color: antiquewhite;
  font-size: 8pt;
}

.sheet-talents {
    grid-area: talents;
    background-color: antiquewhite;
}

.sheet-talents textarea {
  margin-right: 3px;
  resize: none;
  border: none;
  display: inline-block;
  width: 95%;
  height: 225px;
}

.sheet-weapons {
    grid-area: weapons;
    background-color: antiquewhite;
}

.sheet-weapons textarea {
  resize: none;
  border: none;
  display: inline-block;
  width: 95%;
  height: 225px;
}

.sheet-inv {
    grid-area: inv;
    background-color: antiquewhite;
}

.sheet-inv textarea {
  resize: none;
  border: none;
  display: inline-block;
  width: 95%;
  height: 190px;
}

.sheet-magic {
    grid-area: magic;
    background-color: antiquewhite;
}

.sheet-magic textarea {
  resize: none;
  border: none;
  display: inline-block;
  width: 95%;
  height: 225px;
}

.sheet-footer {
  grid-area: footer;
  background-color: white;
}
