.sheet-main {
  display: grid;
  grid-gap: 4px;
  grid-template-columns: 100px 100px 100px 100px;
  grid-template-rows: 150px 300px 1fr 1fr 20px;
  grid-template-areas:"header     header      header  header"
                      "common     common      common  common"
                      "attribs    attribs     .       power"
                      "inv        inv         inv     power"
                      "footer     footer      footer  footer";
}

/*----------------- GENERAL CSS ------------------*/

textarea {
  width: 90%;
  height: 85%;
}

.sheet-section {
    padding: 5px;
    border-style: solid;
}

.sheet-flex-col {
  display: flex;
  flex-flow: wrap;
  justify-content: flex-start;
}

.sheet-flex-center {
  align-items: center;
  justify-content: center;
}

/*------------- Section-specific CSS -------------*/

.sheet-header {
  grid-area: header;
  background-color: antiquewhite;
  flex-direction: column;
  justify-self: start;
}

.sheet-common {
  grid-area: common;
  background-color: antiquewhite;
  font-size: 8pt;
}

.sheet-attributes {
  grid-area: attribs;
  background-color: antiquewhite;
  font-size: 8pt;
}

.sheet-power {
  grid-area: power;
  background-color: white;
}

.sheet-attack {
  grid-area: attack;
  background-color: white;
}

.sheet-inv {
  grid-area: inv;
  background-color: white;
}

.sheet-misc {
  grid-area: misc;
  background-color: white;
}

.sheet-footer {
  grid-area: footer;
  background-color: white;
}
